<ngx-spinner
bdOpacity = 0.9
bdColor = "#434343"
size = "medium"
color = "#fadb58"
type = "ball-fussion"
fullScreen = "true"
>
<p style="color: white" > Carregando todas as informações, espere um segundo... </p>
</ngx-spinner>
<section id="signin" class="py-4 bg-light" style="height: 100vh">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-5">
        <div class="text-center">
          <img src="./assets/images/auto-parvi.svg" width="200px" alt="">
        </div>
        <div class="d-flex justify-content-center">
          <div class="w-75 py-5" *ngIf="!flag">
            <div class="border rounded">
              <form [formGroup]="formLogin">
                <div class="md-form">
                  <input mdbInputDirective type="email" id="usuario" class="form-control" formControlName="email">
                  <label for="usuario" class="">E-mail</label>
                </div>
                <div class="md-form">
                  <input mdbInputDirective type="password" id="senha" class="form-control" formControlName="password">
                  <label for="senha" class="">Senha</label>
                </div>
              </form>
              <div class="text-center">
                <button type="button" mdbBtn color="warning" mdbWavesEffect class="btn-block" [disabled]="!formLogin.valid"
                (click)='onSubmit()'>
                <span class="lead">Entrar</span>
              </button>
              </div>
            </div>
            <div class="text-center d-none">
              <button type="button" mdbBtn color="link" (click)='flagOpen()'>
                Esquece minha senha. Clique Aqui
              </button>
            </div>
          </div>
          <div *ngIf="flag" class="w-75 py-5">
            <div class="border rounded p-5">
              <div class="md-form">
                <input mdbInputDirective type="email" id="resetEmail" class="form-control" [(ngModel)]="resetEmail" >
                <label for="resetEmail" class="">E-mail</label>
              </div>
              <div class="text-center">
                <button type="button" mdbBtn color="danger" (click)='flagClose()' mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" (click)='onReset(resetEmail)' mdbWavesEffect>Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>