<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
  [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1">
        <app-wimagen [carroId]='card.id' (img)="url($event)"></app-wimagen>
        <mdb-card-body>
          <mdb-card-title>
            <h6 class="text-uppercase border-bottom pb-1">{{card.marcaCarro}} {{card.modeloCarro}}</h6>
          </mdb-card-title>
          <p class="text-center">
            <app-ofertas class="text-center" [oferta]='card.ofertas' (nome)="onOferta($event)"></app-ofertas>
          </p>
          <p class="py-2 bg-1 leads text-center b-8 text-2">
            {{card.valor | currencyBrasil}}
          </p>
        </mdb-card-body>
        <mdb-card-footer class="bg-light">
          <div class="clearfix">
            <div class="float-left">
              <app-interessado [id]="card.id"></app-interessado>
            </div>
            <div class="float-right f-08">
              <a class="mr-2" routerLink="/veiculos/view/{{card.id}}" routerLinkActive="router-link-active" >
                <i class="fas fa-eye text-primary"></i>
              </a>
              <a routerLink="/veiculos/edit/{{card.id}}"routerLinkActive="router-link-active" >
                <i class="fas fa-edit text-warning"></i>
              </a>
              <a class="ml-2" (click)='delete(card.id)'>
                  <i class="fas fa-trash text-danger"></i>
              </a>
            </div>
          </div>
        </mdb-card-footer>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>