<div class="card px-4">
  <h4 class="text-center mt-4 border-bottom pb-1">Status Veículos</h4>
  <div style="display: block;" class="my-3 text-center">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="[{data:[disponivel, vendido], label: 'Status de Veículos'}]"
        [labels]="['Disponivel', 'Vendido']"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>