<app-header></app-header>
<section id="passo3" class="py-5">
  <div class="container pb-5">
    <h2 class="page-header">
      Cadastro Veículos
      <span class="float-right">
        <i class="fas fa-grip-horizontal mr-2"></i>
          Passo 3
      </span>
    </h2>
    <hr>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-5">
        <div class="w-100 pt-5 pb-3">
          <h3 class="text-center font-weight-bold text-uppercase">
            {{marca}} {{modelo}}
          </h3>
          <hr>
          <div class="row justify-content-between">
            <div class="col-12 col-sm-12 col-md-5">
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/cambios.png" width="30px" alt="">
                </span> {{transmissao}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/conbustivel.png" width="30px" alt="">
                </span> {{combustivel}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/kilometragem.png" width="30px" alt="">
                </span> {{kilometragem}}km
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/portas.png" width="30px" alt="">
                </span> {{portas}} portas
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/cor.png" width="30px" alt="">
                </span> {{cor}}
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-5">
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/year.png" width="30px" alt="">
                </span> {{ano}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/location.png" width="30px" alt="">
                </span> {{estado}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/location.png" width="30px" alt="">
                </span> {{cidade}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/sell.png" width="30px" alt="">
                </span> Oferta {{oferta}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/cash.png" width="30px" alt="">
                </span> R$. {{valor}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7">
        <div class="w-100 grey lighten-4 py-5">
          <h3 class="text-center font-weight-bold text-uppercase">Carregar Imagens</h3>
          <div class="w-100 px-3 pb-3">
            <hr>
            <image-upload
              [max]="6"
              [buttonCaption]="'Selecione as Imagens!'"
              [dropBoxMessage]="'Solte suas imagens aqui!'"
              [extensions]="['jpg','png']"
              url="http://localhost:3021/api/storages/photos/upload"
              (uploadFinished)="onUploadFinished($event)">
            </image-upload>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" mdbBtn color="danger" mdbWavesEffect>
        <h5 class="mb-0 font-weight-bold text-uppercase">cancelar</h5>
      </button>
      <button type="button" mdbBtn color="primary" mdbWavesEffect 
        (click)='onSend()'>
          <h5 class="mb-0 font-weight-bold text-uppercase">Passo 3</h5>
      </button>
    </div>
  </div>
</section>