<app-header></app-header>
<section id="addVeiculo" class="py-5">
  <div class="container pb-5" *ngFor="let i of carro">
    <h2 class="font-weight-bold text-uppercase border-bottom pb-2 mb-5">
      {{i.marcaCarro}} {{i.modeloCarro}}
      <span class="float-right font-weight-normal">
        <a [routerLink]="['/veiculos']" class='text-info'>
          <i class="fas fa-arrow-circle-left"></i>
          Voltar
        </a>
      </span>
    </h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-4">
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/cambios.png" width="30px" alt="">
          </span> {{i.transmissao}}
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/conbustivel.png" width="30px" alt="">
          </span> {{i.combustivel}}
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/kilometragem.png" width="30px" alt="">
          </span> {{i.kilometragem}}km
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/portas.png" width="30px" alt="">
          </span> {{i.portas}} portas
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/cor.png" width="30px" alt="">
          </span> {{i.cor}}
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/year.png" width="30px" alt="">
          </span> {{i.ano}}
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/location.png" width="30px" alt="">
          </span> {{estado}}
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/location.png" width="30px" alt="">
          </span> {{cidade}}
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/sell.png" width="30px" alt="">
          </span> Oferta {{oferta}}
        </p>
        <p class="text-capitalize border-bottom pb-3">
          <span class="mr-3">
            <img src="./assets/icons/cash.png" width="30px" alt="">
            <span class="f-bold ml-3">R$. {{i.valor}}</span>
          </span>
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-sm-12 col-md-6 pt-5">
        <h3 class="text-center border-bottom pb-2 mb-4">
          Imagens
        </h3>
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item *ngFor="let t of imagen">
            <div class="view w-100">
              <img class="d-block w-100" src="{{t.url}}" alt="{{i.marcaCarro}} {{i.modeloCarro}}">
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">
                {{i.marcaCarro}} {{i.modeloCarro}}
              </h3>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-12 col-sm-12 col-md-6 grey lighten-5 p-5">
        <h3 class="text-center border-bottom pb-2 mb-4">
          Dados Opcionais
        </h3>
        <div class="row">
          <div class="col-6" *ngFor="let o of opcionais">
            <p *ngIf="o.arCondicionado == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Ar Condicionado
            </p>
            <p *ngIf="o.arBag == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Ar Bag
            </p>
            <p *ngIf="o.travasEletricas == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Travas Elétricas	
            </p>
            <p *ngIf="o.direcaoHidraulica == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Direção Hidráulica
            </p>
            <p *ngIf="o.brakeLight == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Brake Light
            </p>
            <p *ngIf="o.vidrosEletricos == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Vidros Elétricos
            </p>
            <p *ngIf="o.limpadorTraseiro == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Limpador Traseiro
            </p>
            <p *ngIf="o.freioABS == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Freio ABS
            </p>
            <p *ngIf="o.radio == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Radio
            </p>
          </div>
          <div class="col-6" *ngFor="let o of opcionais">
            <p *ngIf="o.dvdPlayer == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              DVD Player
            </p>
            <p *ngIf="o.vidrosTraseirosEletricos == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Vidros Traseiros Elétricos
            </p>
            <p *ngIf="o.espelhosRetrovisoresTraseiros == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Espelhos Retrovisores Traseiros
            </p>
            <p *ngIf="o.bancosEnCouro == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Bancos en Couro
            </p>
            <p *ngIf="o.altosFalantes == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Altos Falantes
            </p>
            <p *ngIf="o.gps == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              GPS
            </p>
            <p *ngIf="o.alarme == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Alarme
            </p>
            <p *ngIf="o.protetorDeCacamba	 == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Protetor De Caçamba	
            </p>
            <p *ngIf="o.sensorEstaciomamentoTraseiro == 1">
              <i class="far fa-check-circle text-info mr-2"></i>
              Sensor Estaciomamento Traseiro
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-md-10">
        
      </div>
    </div>
  </div>
</section>