<app-header></app-header>
<section id="dashboard" class="py-5 grey lighten-4">
  <div class="container">
    <div class="row justify-content-between pb-5">
      <div class="col-12 col-sm-12 col-md-4">
        <app-chat-status></app-chat-status>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <app-bar-chart></app-bar-chart>
      </div>
      <div class="col-12 col-sm-12 col-md-2">
        <mdb-card  class="my-1 pointer" [routerLink]="['/veiculos/add']">
          <mdb-card-body id="criar">
            <p class="mb-0 text-center">
              <i class="fas fa-plus fa-3x"></i>
            </p>
            <h4 class="mt-3 text-uppercase text-center b-8">Criar Veículo</h4>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div class="row justify-content-between pt-2 pb-5">
      <div class="col-12 col-sm-12 col-md-12">
        <h3 class="border-bottom pb-1 mb-3">Últimos veículos cadastrado</h3>
        <app-ultimos-produtos></app-ultimos-produtos>
      </div>
    </div>
  </div>
</section>