<modal-header>
    <h1>Mudar Status do carro</h1>
</modal-header>
<modal-content>
    {{carro.marcaCarro}} {{carro.modeloCarro}}
</modal-content>
<modal-footer>
    <button class="btn btn-primary" (click)="firstModal.close()">okay!</button>
</modal-footer>