.custom-checkbox{
    padding-bottom: 1rem !important;
}


.f-08 { font-size: .8rem !important; }
.f-09 { font-size: .9rem !important; }

.dropzone {
    border-radius: 10px;
    padding: 20px 10px;
    border: 1px dashed red;
    text-align: text-center;
}

.bt-plus {
    padding: 0 !important;
    margin-top: 1.5rem;
}