<div class="card px-4">
  <h4 class="text-center mt-4 border-bottom pb-1">Ofertas Veículos</h4>
  <div style="display: block" class="my-3 text-center">
    <canvas mdbChart
      [chartType]="chartType"
      [datasets]="[ { data: [nova, quentes, imperdivel], label: 'Quantidade de Ofertas' }]"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>