<app-header></app-header>
<section id="addVeiculo" class="py-5">
  <div class="container pb-5">
    <h2 class="page-header">
      Veículos
      <span class="float-right">
        <i class="fas fa-grip-horizontal mr-2"></i>
          Vista
      </span>
    </h2>
    <hr>
    <!-- Modelo e Marca -->
    <form [formGroup]="formDados">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 pt-4 border rounded">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" class="form-control" id="modelo" formControlName="modeloCarro">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5">
              <div class="form-group">
                <label for="marca">Marca</label>
                <select class="browser-default custom-select" id="marca" formControlName="marcaCarro">
                  <option selected>Selecionar</option>
                  <option *ngFor="let m of marca" value="{{m.nome}}" class="text-uppercase">{{m.nome}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-1">
                <button type="button" mdbBtn color="link" data-toggle="modal" data-target="#basicExample" class='bt-plus'
                (click)="basicModal.show()" mdbWavesEffect>
                <mdb-icon class="mt-2 text-danger" fas icon="plus-circle" size='2x'></mdb-icon>
              </button>
            </div>
          </div>
          <!-- Cor, Ano e Km -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="cor">Cor</label>
                <input type="text" class="form-control" id="cor" formControlName="cor">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="ano">Ano</label>
                <input type="text" class="form-control" id="ano" formControlName="ano">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="kilometragem">Kilometragem</label>
                <input type="text" class="form-control" id="kilometragem" formControlName="kilometragem">
              </div>
            </div>
          </div>
          <!-- Gasolina, portas e cambio -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="combustivel">Combustível</label>
                <select class="browser-default custom-select" id="combustivel" formControlName="combustivel">
                  <option selected>Selecionar</option>
                  <option value="flex">Flex</option>
                  <option value="gasolina">Gasolina</option>
                  <option value="diesel">Diesel</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="combustivel">Portas</label>
                <select class="browser-default custom-select" id="portas" formControlName="portas">
                  <option selected>Selecionar</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="transmissao">Transmissão</label>
                <select class="browser-default custom-select" id="transmissao" formControlName="transmissao">
                  <option selected>Selecionar</option>
                  <option value="manual">Manual</option>
                  <option value="automatico">Automático</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Estado e Cidade -->
          <hr class="pb-1">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="estado">Estado</label>
                <select class="browser-default custom-select" id="estado" formControlName="estado" (change)="onGetCidade($event)">
                  <option selected>Selecionar</option>
                  <option *ngFor="let e of estado" value="{{e.id}}">{{e.nome}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="form-group">
                <label for="cidade">Cidade</label>
                <select class="browser-default custom-select" id="cidade" formControlName="cidade">
                  <option selected>Selecionar</option>
                  <option *ngFor="let c of cidade" value="{{c.id}}">{{c.nome}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Ofertas e Status -->
          <hr class="pb-1">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="ofertas">Ofertas</label>
                <select class="browser-default custom-select" id="ofertas" formControlName="ofertas">
                  <option selected>Selecionar</option>
                  <option *ngFor="let f of oferta" value="{{f.id}}">{{f.nome}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="status">Status</label>
                <select class="browser-default custom-select" id="status" formControlName= "status">
                  <option selected>Selecionar</option>
                  <option value="disponivel">Disponível</option>
                  <option value="vendido">Vendido</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="text" class="form-control" id="valor" formControlName="valor">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" rows="2" formControlName="descricao"></textarea>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <button type="reset" mdbBtn color="danger" mdbWavesEffect>
          <h5 class="mb-0 font-weight-bold text-uppercase">cancelar</h5>
        </button>
        <button type="button" mdbBtn color="primary" mdbWavesEffect 
          (click)='onSend()' [disabled]="!formDados.valid">
            <h5 class="mb-0 font-weight-bold text-uppercase">Passo 2</h5>
        </button>
      </div>
    </form>
  </div>
</section>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Agregar Marca</h4>
        </div>
        <div class="modal-body">
          <div class="col-12 col-sm-12 col-md-12">
            <form [formGroup]="fmMarca">
              <div class="form-group row">
                <label for="marcaC" class="col-md-3 col-form-label">Marca Carro</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="marcaC" placeholder="Digite aqui..." formControlName="nome">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" (click)='onMarca()' class="relative waves-light" mdbWavesEffect>Salvar</button>
        </div>
      </div>
    </div>
  </div>