<ngx-spinner
bdOpacity = 0.9
bdColor = "#434343"
size = "medium"
color = "#fadb58"
type = "ball-fussion"
fullScreen = "true"
>
<p style="color: white" > Carregando todas as informações, espere um segundo... </p>
</ngx-spinner>
<router-outlet></router-outlet>
<app-footer></app-footer>