<app-header></app-header>
<section id="grid" class="py-5">
  <div class="container">
    <h2 class="page-header mb-4 pb-2 border-bottom">
      Veículos
    </h2>
    <div class="row">
      <div class="col-md-3">
        <mdb-card  class="my-1 pointer" [routerLink]="['/veiculos/add']">
          <mdb-card-body id="criar">
            <p class="mb-0 text-center">
              <i class="fas fa-plus fa-3x"></i>
            </p>
            <h4 class="mt-3 text-uppercase text-center b-8">Criar Veículo</h4>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of slides; let cardIndex = index">
          <mdb-card class="my-1">
            <app-wimagen [carroId]='card.id' (img)="url($event)"></app-wimagen>
            <mdb-card-body>
              <mdb-card-title>
                <h6 class="text-uppercase border-bottom pb-1">{{card.marcaCarro}} {{card.modeloCarro}}</h6>
              </mdb-card-title>
              <mdb-badge pill="true" default="true" class="badge-1 py-2 text-uppercase f-05 my-1 mr-1">
                <a data-toggle="modal" 
                data-target="#basicExample"
                (click)="onOfertaModal(card.id)">
                    <app-ofertas [oferta]='card.ofertas' (nome)="onOferta($event)"></app-ofertas>
                    <mdb-icon fas icon="edit" class="ml-1"></mdb-icon>
                </a>
              </mdb-badge>
              <mdb-badge pill="true" default="true" class="badge-1 py-2 my-1 f-05">
                <a (click)='onStatus(card.id)' class="text-uppercase ">
                    {{card.status}}
                    <mdb-icon fas icon="edit" class="ml-1"></mdb-icon>
                </a>
              </mdb-badge>
              <p class="mt-3 py-2 bg-1 leads text-center b-8 text-2">
                <a data-toggle="modal" 
                  data-target="#basicExample" 
                  class="text-2 text-underline"
                  (click)="onValorModal(card.id)">
                    <i class="fas fa-edit mr-2"></i>
                    {{card.valor | currencyBrasil}}
                </a>
              </p>
            </mdb-card-body>
            <mdb-card-footer class="bg-light">
              <div class="clearfix">
                <div class="float-left">
                  <app-interessado [id]="card.id"></app-interessado>
                </div>
                <div class="float-right">
                  <a class="mr-3" routerLink="/veiculos/view/{{card.id}}" routerLinkActive="router-link-active" >
                    <i class="fas fa-eye text-primary"></i>
                  </a>
                  <a routerLink="/veiculos/edit/{{card.id}}"routerLinkActive="router-link-active" >
                    <i class="fas fa-edit text-warning"></i>
                  </a>
                  <a class="ml-3" (click)='delete(card.id)'>
                    <i class="fas fa-trash text-danger"></i>
                  </a>
                </div>
              </div>
            </mdb-card-footer>
          </mdb-card>
        </div>
    </div>
  </div>
</section>

<!-- Modal Ofertas -->
<div mdbModal #ofertaModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="ofertaModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Trocar Ofertas</h4>
      </div>
      <div class="modal-body">
        <div class="col-12 col-sm-12 col-md-12">
          <h4 class="text-center b-6">{{mC}} {{mc}}</h4>
          <div class="form-group row">
              <div class="col-md-12">
                <select class="browser-default custom-select"   id="ofertas" [(ngModel)]="offer">
                  <option selected>Selecionar</option>
                  <option *ngFor="let f of table" value="{{f.id}}">{{f.nome}}</option>
                </select>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="ofertaModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" (click)='onOferta(id, offer)' class="relative waves-light" mdbWavesEffect>Salvar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Value -->
<div mdbModal #valorModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="valorModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Trocar Ofertas</h4>
        </div>
        <div class="modal-body">
          <div class="col-12 col-sm-12 col-md-12">
            <h4 class="text-center b-6">{{mC}} {{mc}}</h4>
            <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" [(ngModel)]="value" class="form-control">
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="valorModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" (click)='onValue(id, value)' class="relative waves-light" mdbWavesEffect>Salvar</button>
        </div>
      </div>
    </div>
  </div>