.table th, .table td{
    vertical-align: middle;
}

.btn.btn-sm {
    padding: 0.5rem 0.25rem;
    font-size: 0.64rem;
}

.bg-1{ background-color: #fadb58; } 
.text-2{ color: #434343; }
.b-8 { font-weight: 800; }
;text-underline{ text-decoration: underline; }

.badge-1 {
    background-color: #434343 !important;
    color: #fadb58 !important;
}

.f-05 { font-size: .55rem!important;}
.pointer{ cursor: pointer; }
#criar:hover {
    color: #fadb58;
    background: #434343;
}

#criar {
    background: #fadb58;
    color: #434343;
}