<footer class="page-footer font-small elegant-color-dark fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://vanguardacomunicacao.com.br" target="_blank"> Vanguarda Comunicação</a>
  </div>
</footer>