<app-header></app-header>
<section id="addVeiculo" class="py-5">
  <div class="container pb-5">
    <h2 class="page-header">
      Cadastro Veículos
      <span class="float-right">
        <i class="fas fa-grip-horizontal mr-2"></i>
          Passo 2
      </span>
    </h2>
    <hr>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-5" *ngFor="let k of carro">
        <div class="w-100 pt-5 pb-3">
          <h3 class="text-center font-weight-bold text-uppercase">
            {{k.marcaCarro}} {{k.modeloCarro}}
          </h3>
          <hr>
          <div class="row justify-content-between">
            <div class="col-12 col-sm-12 col-md-5">
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/cambios.png" width="30px" alt="">
                </span> {{k.transmissao}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/conbustivel.png" width="30px" alt="">
                </span> {{k.combustivel}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/kilometragem.png" width="30px" alt="">
                </span> {{k.kilometragem}}km
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/portas.png" width="30px" alt="">
                </span> {{k.portas}} portas
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/cor.png" width="30px" alt="">
                </span> {{k.cor}}
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-5">
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/year.png" width="30px" alt="">
                </span> {{k.ano}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/location.png" width="30px" alt="">
                </span> {{estado}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/location.png" width="30px" alt="">
                </span> {{cidade}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/sell.png" width="30px" alt="">
                </span> Oferta {{oferta}}
              </p>
              <p class="text-capitalize border-bottom pb-3">
                <span class="mr-3">
                  <img src="./assets/icons/cash.png" width="30px" alt="">
                </span> R$. {{k.valor}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7">
        <div class="w-100 grey lighten-5 pt-5 pb-3">
          <h3 class="text-center text-uppercase font-weight-bold">Opcionais</h3>
          <div class="w-100 px-3 pb-3">
            <hr>
            <form [formGroup]="formOpcionais">
              <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-5">
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="arCondicionado">
                      Ar Condicionado
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="arBag">
                      Ar Bag
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="travasEletricas">
                      Travas Elétricas
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="direcaoHidraulica">
                      Direção Hidráulica
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="brakeLight">
                      Brake Light
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="vidrosEletricos">
                      Vidros Elétricos
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="limpadorTraseiro">
                      Limpador Traseiro
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="freioABS">
                      Freios ABS
                    </mdb-checkbox>
                  </p>
                  <p>
                    <mdb-checkbox [default] = 'true' formControlName="radio">
                      Radio
                    </mdb-checkbox>
                  </p>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="dvdPlayer">
                      DVD Player
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="vidrosTraseirosEletricos">
                      Vidros Traseiros Elétricos
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="espelhosRetrovisoresTraseiros">
                      Espelhos Retrovisores Traseiros
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="bancosEnCouro">
                      Bancos en Couros
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="altosFalantes">
                      Altos Falantes
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="gps">
                      GPS
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="alarme">
                      Alarme
                    </mdb-checkbox>
                  </p>
                  <p class="mb-2">
                    <mdb-checkbox [default] = 'true' formControlName="protetorDeCacamba">
                      Protetor de Caçamba
                    </mdb-checkbox>
                  </p>
                  <p>
                    <mdb-checkbox [default] = 'true' formControlName="sensorEstaciomamentoTraseiro">
                      Sensor Estacionamento Traseiros
                    </mdb-checkbox>
                  </p>
                </div>         
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <button type="button" mdbBtn color="danger" mdbWavesEffect>
        <h5 class="mb-0 font-weight-bold text-uppercase">cancelar</h5>
      </button>
      <button type="button" mdbBtn color="warning" mdbWavesEffect 
        (click)='onSend()' [disabled]="!formOpcionais.valid">
          <h5 class="mb-0 font-weight-bold text-uppercase">Atualizar</h5>
      </button>
      <a routerLink="/veiculos/edit/passo3/{{id}}" class="btn btn-primary" mdbWavesEffect>
        <h5 class="mb-0 font-weight-bold text-uppercase">Atualizar Imagem</h5>
    </a>
    </div>
  </div>
</section> 